body {
    background: #6495ed;
}

h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff5ee;
}

div.container {
    width: 680px;
    height: 680px;
    background: rgb(220, 220, 220);
    margin: auto;
}